.footer{
    display: flex;
    justify-content: space-between;
    color: #40a3a7 !important;
}
.footer-session-one{
    width: 50%;
}
.footer-session-one > a{
    text-decoration: none;
    color: #40a3a7;
}