.txt-lft {
  text-align: left;
}
.card-header {
  text-align: center;
  color: #753653;
  padding: 20px;
}
.card-body {
  padding: 40px;
}
.top {
  margin-top: 50px;
}
.confirm-container {
  padding: 40px;
}
.text-align-lft {
  text-align: left !important;
  width: 65% !important;
}
.space-evenly {
  display: flex;
  justify-content: center !important;
}
.w-30 {
  width: 30% !important;
  padding: 10px;
}
.text-md-end {
  padding: 10px;
}
.flex-center {
  display: flex;
  justify-content: center; 
}
.margin-left {
  margin-left: 20px;
}
.btn-create-clear {
  display: flex;
  justify-content: center;
  margin-left: 190px;
  padding: 20px;
}
.btn-primary:hover {
  background-color: #6c757d !important;
}
.btn-info:hover {
  background-color: #4000ff7e !important;
}
.margin-right {
  margin-right: 20px;
}
.mgn-lft {
  margin-left: -125px;
}