.user{
    border: 1px solid #7f7f7f;
    border-radius: 5px;
}
.user-header{
    background-color: #198754;
    color:#fff;
    padding: 10px;
}
th{
    background-color:#5f9ea0 !important;
    color: #fff !important;
}

.label{
    display: flex !important;
    justify-content: space-between;
    align-items: center ;
    padding: 8px;
}
/* Container Styling */
.container-form {
    max-width: 1300px;
    margin: 0px auto;
}
.search-btn {
    align-self: center;
}
.row {
    justify-content: flex-end;
    margin-left: 0;
    margin-right: 0;
}
.keyword, .blank {
    margin-right: 4%;
}
.upload-download{
    width: 30%;
}

.create-post {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    text-align: right;
}
.create-post-title {
    margin-top: 50px;
}
.des{
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-form-post{
    max-width: 900px;
    margin: 0px auto;
}
.adjust-width {
    width: 50%;
}
.warning {
    color: red;
}
.form-label{
    width: 30%;
}
.search{
    width: 100%;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control{
    width: 65%;
}
.form-switch{
    width: 65%;
}
.btn-create-clear {
    display: flex;
    justify-content: center;
    margin-left: 128px;
}
.btn-create-clear > button{
    margin-left: 1%;
    margin-right: 0px;
    padding: 5px 10px;
    margin-bottom: 36px;
}
.btn-create-clear > a {
    margin-left: 1%;
    margin-right: 0px;
    padding: 5px 10px;
    margin-bottom: 36px;
    color: white;
}
.text-decoration-none {
    text-decoration: none;
    color : black;
}
.post-search {
    width: 75% !important;
}