td {
  color: #323653dd !important;
}
.user-card {
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.wd {
  width: 20% !important;
}
.wk {
  width: 31% !important;
}
.ws {
  width: 8%;
}
.form-control {
  width: 100% !important;
}
th {
  background-color: #f0f1f2 !important;
  color: #323653 !important;
}

.label {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.container-form {
  max-width: 1300px;
  margin: 0px auto;
}
.search-btn {
  align-self: center;
}
.row {
  justify-content: flex-center;
  margin-left: 0;
  margin-right: 0;
}
.keyword,
.blank {
  margin-right: 4%;
}
.upload-download {
  width: 30%;
}

.create-post {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  text-align: right;
}
.create-post-title {
  margin-top: 50px;
}
.des {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-form-post {
  max-width: 900px;
  margin: 0px auto;
}
.adjust-width {
  width: 50%;
}
.warning {
  color: red;
}
.form-label {
  width: 30%;
}
.wd {
  width: 65%;
  text-align: left !important;
}
.search {
  width: 100%;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.form-control {
  width: 65%;
}
.form-switch {
  width: 65%;
}
.colorfff {
  color: white;
}
.btn-create-clear {
  display: flex;
  justify-content: center;
  margin-left: 128px;
}
.btn-create-clear > button {
  margin-left: 1%;
  margin-right: 0px;
  padding: 5px 10px;
  margin-bottom: 36px;
}
.btn-create-clear > a {
  margin-left: 1%;
  margin-right: 0px;
  padding: 5px 10px;
  margin-bottom: 36px;
  color: white;
}
.text-decoration-none {
  text-decoration: none;
  color: #323653dd !important;
}
.text-decoration-none:hover {
  color: rgba(255, 119, 0, 0.888) !important;
}
.post-search {
  width: 75% !important;
}
.modal-body {
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.d-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
}

.profile-img-container {
  margin-right: 20px;
}

.profile-img {
  border: 4px solid #f3f3f3;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-details {
  font-size: 16px;
  line-height: 1.6;
}

.user-details p {
  margin-bottom: 10px;
}

.user-details strong {
  color: #333;
  font-weight: 600;
}

.user-details p {
  color: #555;
  font-weight: 400;
}

.user-details p:nth-child(even) {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
}

.user-details p:nth-child(odd) {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.modal-body .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  color: #777;
}

.modal-body .btn-close:hover {
  color: #333;
}
.flex-start {
  align-self: flex-start;
}
