.card-header{
    background-color: #198754 !important;
    color: #fff !important;
}
.btn-primary{
    width: 75%;
    background-color: #198754 !important;
    padding: 6px;
}
.btn-link{
    text-decoration: none;
}
.btn-loginn {
    margin-left: 28%;
    padding: 8px;
    width: 15vw !important;
}